.nav{
    background-image: url("./assets/img/pattern.png");
    background-size: contain;
}

.man{
    background-image: url("./assets/img/pattern.png");
    background-size: contain;
}
.man-img{
    max-width: 20rem;
    margin-top: -0.6rem;
    margin-inline-start: -1rem;
}

.watch{
    width: 24rem ;

}

.watch {
    animation: return 0.5s ease forwards;
  }
  
.watch:hover {
    animation: rise 0.5s ease forwards;
  }
  
  @keyframes rise {
    to {
      transform: translateY(-0.6rem);
    }
  }

  @keyframes return {
    from {
      transform: translateY(-0.6rem);
    }
    to {
      transform: translateY(0rem);
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  

  .scroll .content{
    animation: scroll 25s linear infinite;
   
  }
  
  .container:hover .content{
    animation-play-state: paused ;
  }
  